:root {
    --border-radius: #CAD1DB;
    --brand-taly-sky-dialog-shade: #0E6FF7;
    --white: #FFFFFF;
    --dark-black: #131F2B;
    --shades: #F3F5F7;
    --border-shades: #E3E8ED;
    --text-title: #354250;
    --button-border: #CAD3DB;
    --primary-color: #6B7885;
     --dark-shades:#1C2E40
}